@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes moveStars {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes twinkling {
    0%, 100% { opacity: 0.8; }
    50% { opacity: 1; }
  }

  .star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    animation: twinkling 1.5s infinite ease-in-out, moveStars linear infinite;
  }
}
