body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black; 
    font-family: 'Courier New', Courier, monospace;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#pizza {
    position: absolute;
    width: 100px; 
    transition: transform 0.1s;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
}
