body {
    margin: 0;
    overflow: hidden;
}

#landingPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('https://art.pixilart.com/sr2acbd0eb694d5.gif') no-repeat center center fixed;
    background-size: cover;
}

#messageBox {
    padding: 20px;
    background-color: #F0EAD6;
    border: 1px solid #8B4513;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s forwards;
    font-size: 24px;
    text-align: center;
}

#startButton {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gameOverAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(500px);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinkCursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

canvas {
    display: block;
    background: url('https://art.pixilart.com/f537f850479bdba.gif') no-repeat center center fixed;
    background-size: cover;
}

#timer {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

#gameOverMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#successMessage {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subsImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#successText {
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(30, end), blinkCursor 0.75s step-end infinite;
}

#successPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://art.pixilart.com/sr296042b578daws3.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

#congratsMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#newGameCanvas {
    display: block;
    background: url('https://art.pixilart.com/sr296042b578daws3.gif') no-repeat center center fixed;
    background-size: cover;
}
