body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: black;
}

.space {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('https://art.pixilart.com/f537f850479bdba.gif') repeat;
    background-size: cover;
}

.pizza {
    position: absolute;
    width: 100px;
    transition: left 0.1s, top 0.1s;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
}
