body {
    margin: 0;
    overflow: hidden;
}

#landingPage, #gameOverPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landingPage {
    background: url('https://art.pixilart.com/sr2acbd0eb694d5.gif') no-repeat center center fixed;
    background-size: cover;
}

#gameOverPage {
    background: rgba(0, 0, 0, 0.8);
}

#messageBox, #gameOverBox {
    padding: 20px;
    background-color: #F0EAD6;
    border: 1px solid #8B4513;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s forwards;
    font-size: 24px;
    text-align: center;
}

#startButton, #restartButton {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

canvas {
    display: block;
    background: url('https://art.pixilart.com/f537f850479bdba.gif') no-repeat center center fixed;
    background-size: cover;
}

#timer {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
